extends layout

block content
  section#portfolio
    #services
      .row.text-center
        .col-md-12
          h1 Commercial Laundry
          p
            | Trust us to give you the same care and quality we give to our individual customers. Whether your items are linen or those that come into close contact with your clients, we assures you of a professional wash every time.
          p
          | A professional wash with our trademark guarantee – If you are not satisfied with our wash, you can return the item within 48 hours for a free reprocessing.
          p
            | Extra care for your items – Harsh chemicals could be degrading the fabric of your linen or towels each time you have them washed. This results to earlier  fabric tears. At Suds, we make sure your items last longer by using only gentle cleaning agents, so you save money in the long run.
          p
            | Prompt delivery – We’ll schedule our pick up and deliveries in advance so you know what to expect.
          p
            | Items accounted for every time – Our computerized transactions makes it easier for you to follow your transactions.
          | We are Proud to Serve:

    section#portfolio
      .container
        .row.text-center
      .row.text-center.pad-top
        .col-md-4.col-sm-4.col-xs-12
          a(href='#portfolioBig1', data-toggle='modal')
            img.img-responsive(src='images/commercial3.png', alt='')
        .col-md-4.col-sm-4.col-xs-12
          a(href='#portfolioBig3', data-toggle='modal')
            img.img-responsive(src='images/commercial2.jpg', alt='')
        .col-md-4.col-sm-4.col-xs-12
          a(href='#portfolioBig4', data-toggle='modal')
            img.img-responsive(src='images/commercial1.jpg', alt='')