extends layout

block content
  section#contact
    .container
      .row.text-center
        .text-center
          .col-md-6.col-sm-6
            iframe.cnt(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2999841.293321206!2d-75.80920404999999!3d42.75594204999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew+York!5e0!3m2!1sen!2s!4v1395313088825', s='')
            .col-md-6.col-sm-6.alert-danger
            h4 OUR LOCATION
            p
              strong  Address: 
              |   Quezon City, Metro Manila, Philippines
            .row
              .col-md-6
                .form-group
                  input.form-control(type='text', required='required', placeholder='Name')
              .col-md-6
                .form-group
                  input.form-control(type='text', required='required', placeholder='Email address')
            .row
              .col-md-12
                .form-group
                  textarea#message.form-control(name='message', required='required', rows='3', placeholder='Message')
                .form-group
                  button.btn.btn-danger(type='submit') Submit Request