extends layout

block content
  section#portfolio
    #services
      .row.text-center
        .col-md-12
          h1 Dry Cleaning Services
          p
            | 
      .container
        .col-md-4.col-sm-4.col-xs-12
          .holder4
            .row.text-center
              a(href='#portfolioBig1', data-toggle='modal')
                img.image(src='images/garment cover.jpg', alt='')
                .overlay
                  .text
                    h1
                      | Garment Covers
                      a(href='#')
                    p
                      ln
                        | 
                      ln
                        |
        .col-md-4.col-sm-4.col-xs-12
          .holder5
            .row.text-center
              a(href='#portfolioBig1', data-toggle='modal')
                img.image(src='images/vacuum.png', alt='')
                .overlay
                  .text
                    h1
                      a(href='#') Vacuum Packing
                    p
                      ln
                        | 
        .col-md-4.col-sm-4.col-xs-12
          .holder6
            .row.text-center
              a(href='#portfolioBig1', data-toggle='modal')
                img.image(src='images/memory box.jpg', alt='')
                .overlay
                  .text
                    h1
                      a(href='#') Memory Box
                    p
                      ln
                        | 
      .pad-top
