extends layout

block content
  section#portfolio
    #services
      .row.text-center
        .col-md-12
          h1 Dry Cleaning Services
          p
            | Get the complete dry cleaning experience with Suds. We not only care for your clothes during the time it is with us, we care for it even after. Whatever your packaging needs are, we have something to offer. Here are our Premier Dry Clean packing options:
      .container
        .col-md-4.col-sm-4.col-xs-12
          .holder4
            .row.text-center
              a(href='#portfolioBig1', data-toggle='modal')
                img.image(src='images/garment cover.jpg', alt='')
                .overlay
                  .text
                    h1
                      | Garment Covers
                      a(href='#')
                    p
                      ln
                        | Cover and protect your suit or gown from dust and insects with our Garment Covers.
                      ln
                        | It converts into a bag so you have the ease of carrying it wherever you need to.
        .col-md-4.col-sm-4.col-xs-12
          .holder5
            .row.text-center
              a(href='#portfolioBig1', data-toggle='modal')
                img.image(src='images/vacuum.png', alt='')
                .overlay
                  .text
                    h1
                      a(href='#') Vacuum Packing
                    p
                      ln
                        | For items that are not regularly used, have your gown vacuum packed. It is waterproof and maximizes cabinet space.
        .col-md-4.col-sm-4.col-xs-12
          .holder6
            .row.text-center
              a(href='#portfolioBig1', data-toggle='modal')
                img.image(src='images/memory box.jpg', alt='')
                .overlay
                  .text
                    h1
                      a(href='#') Memory Box
                    p
                      ln
                        | For those special occasions, we present only the best. Introducing, Bubbles Memory Box. Made and lined with acid-free paper and muslin cloth, your gowns and suits are kept in the most elegant way. Our Memory Box protects your cherished memories and helps them last much, much longer.
      .pad-top
