extends layout

block content
  section#portfolio
    #services
      .row.text-center
        .col-md-12
          h1 Personal Laundry
      .container
        .col-md-4.col-sm-4.col-xs-12
          .holder4
            .row.text-center
              a(href='#portfolioBig1', data-toggle='modal')
                img.image(src='images/comfy.jpg', alt='')
                .overlay
                  .text
                    h1
                      a(href='#') Comfy Wash
                    p
                      ln  Our best selling service.
                      ln  Washed with gentle yet effective cleaning agents 
                      ln with antibacterial enhancement  
                      ln  we make sure your clothes are cleaned inside out.
        .col-md-4.col-sm-4.col-xs-12
          .holder5
            .row.text-center
              a(href='#portfolioBig1', data-toggle='modal')
                img.image(src='images/special wash.jpg', alt='')
                .overlay
                  .text
                    h1
                      a(href='#') Special Wash
                    p
                      ln
                        br
                        |   Have your items specially washed and individually packed hotel-style.
                      ln We make sure your clothes are as clean as new.
        .col-md-4.col-sm-4.col-xs-12
          .holder6
            .row.text-center
              a(href='#portfolioBig1', data-toggle='modal')
                img.image(src='images/ultra care.jpg', alt='')
                .overlay
                  .text
                    h1
                      a(href='#') Ultra Care
                    p
                      ln For delicates and branded items, 
                      |  We make sure it’s properly cared for. 
                      ln
                        | Each item is carefully processed and even hand-washed when needed to ensure it looks better.
      .pad-top

  section#portfolio
    #services
      .container
        .col-md-4.col-sm-4.col-xs-12
          .holder7
            .row.text-center
              a(href='#portfolioBig1', data-toggle='modal')
                img.image(src='images/iron press.jpg', alt='')
                .overlay
                  .text
                    h1
                      a(href='#') Iron Press
                    p
                      ln Need pressing for your laundry? 
                      ln  Try this service.
                      ln  Expertly washed and pressed.
                      ln  Need to travel with your pressed items?
                      ln
                        ln Try our Pack Smart convertible garment covers
                        ln  It protects your Executive items while you are on the go.
        .col-md-4.col-sm-4.col-xs-12
          .holder9
            .row.text-center
              a(href='#portfolioBig1', data-toggle='modal')
                img.image(src='images/comforter.jpg', alt='')
                .overlay
                  .text
                    h1
                      a(href='#') Comforters and Thick items
                    p
                      ln  Need to thoroughly clean your thick comforters? 
                      ln Leave it to us.
                      ln Our special anti-bacterial detergent penetrates 
                      ln and cleans even the innermost fibers so you don’t have to worry.
      .pad-top
