/*=======================================
    GENERAL STYLES
==================================================*/

body {
    font-family:'Open Sans', sans-serif;
    font-size:14px;
    background-image:url('../images/pixel_weave.png')!important;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
}


.text-center {
    text-align:center;
}

h1 {
    font-weight:900;
    font-size:30px;
    text-transform:uppercase;
    line-height:35px;
}
h4 {
line-height: 40px;
padding-bottom: 0px;
font-size: 22px;
font-weight: 900;
text-transform:uppercase;
}

p {
    font-weight:300;
    line-height:30px;
    padding-bottom:15px;
}


section {
    padding-top:80px;
    margin-bottom:40px;
}


.form-control {
    background-color: rgba(255, 255, 255, 0);
}

.label-danger {
font-size: 18px;
}

.line-sep {
    color:#f00;
    padding:5px;
}


/*=======================================
    HOME SECTION STYLES
==================================================*/

#home-sec {   

    padding-top:75px;
    color:#fff;

}
#carousel-example {
     border:2px solid #C7C7C7;
}
.back-light {
    background-color:rgba(0, 0, 0, 0.50);
    padding:10px;
}
.icon-big i.fa {
    margin-top:40px;
    margin-bottom:30px;
    width: 50px;
    height: 50px;
    line-height: 120px;
    text-align: center;
    background-color: #4bbabe;
    color: #fff;
-webkit-transform: rotateZ(45deg);
-moz-transform: rotateZ(45deg);
-o-transform: rotateZ(45deg);
transform: rotateZ(45deg);
}

.icon-big i.fa:before {
padding-left:20px;
display: block;
-webkit-transform: rotateZ(-45deg);
-moz-transform: rotateZ(-45deg);
-o-transform: rotateZ(-45deg);
transform: rotateZ(-45deg);
}
/*=================================================================
                            sevices

===================================================================*/
.holder1 {
  position: relative;
  width: 95%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.holder1:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 12px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.holder2 {
  position: relative;
  width: 95%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.holder2:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 12px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.holder3 {
  position: relative;
  width: 95%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.holder3:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 12px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*=================================================================
                            personal laundry

===================================================================*/
.holder4 {
  position: relative;
  width: 75%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.holder4:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 12px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.holder5 {
  position: relative;
  width: 75%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.holder5:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 12px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.holder6 {
  position: relative;
  width: 75%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.holder6:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 12px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.holder7 {
  position: relative;
  width: 75%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.holder7:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 12px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.holder8 {
  position: relative;
  width: 75%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.holder8:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 12px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.holder9 {
  position: relative;
  width: 75%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -15px;
  right: 0;
  height: 100%;
  width: 362px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.holder9:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 12px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*=======================================
    Project STYLES
==================================================*/
.project-cls {
    text-align: right;
    top: -65px;
    position: relative;
    left: -40px;
    font-size: 20px;
    font-weight: 900;
}

.project-cls a,.project-cls a:hover {
    color:#90F;
    text-decoration:none;
    font-style:italic;
    }
/* ===========================================================
   NAVBAR CHANGES   
   ============================================================*/
.navbar {
	font-size: 18px;
    background-image:url('../img/pixel_weave.png');
}

.navbar-inverse {
    min-height: 60px;
    padding-top: 5px;

}

.navbar-inverse .navbar-nav > .active > a {
	background: #ffffff;
}

.navbar-inverse .navbar-brand {
	color: #000;
	font-weight: bolder;
	font-size: 25px;
    font-weight:900;
	letter-spacing: 2px;
}

.navbar-inverse :hover .navbar-brand:hover {
	color: #000;	
}

.navbar-inverse .navbar-nav > li > a {
    color: #000;
}

.navbar-inverse {
    border-color: #D6D6D6;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #000;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #000;
}

.navbar-toggle {
    background-color: black;
}


/*=======================================
    Contact STYLES
==================================================*/

.cnt {
width: 100%;
min-height: 350px;
border: 1px solid #e1e1e1;
}
/*=======================================
    FOOTER STYLES
==================================================*/


#footer {
background-color: #FFFFFF;
color: #000;
padding: 20px 50px 20px 50px;
text-align: right;
border-top: 1px solid #d6d6d6;
}


















